/* app.overlay */
/ {
    aliases {
        my-imu = &imu_sensor;
    };
};

&usart6 {
    status = "okay";
    current-speed = <115200>;

    imu_sensor: hwt906 {
        compatible = "wit,hwt906";
        status = "okay";
    };
};
