CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.cache
.DS_Store
.VSCodeCounter
/app/*
!/app/2026_R2usb_armv2/
!/app/2026_R2usb_armv2/**
assembly.txt
.vscode
assembly.txt
