/{
    motor {
        vesc_motor: vesc_motor {
            compatible = "vesc,motor";
            id = <41>;
            can_channel = <&can1>;
            gear_ratio = "1.0f";
            kv = "150.0f";
            pole_pairs = "14";
            p_max = "12.57f";
            v_max = "314.0f";
            t_max = "1.5f";
            i_max = "2.f";
            status = "okay";
        };
    };
};
